Repository jackwatters45/laxdb: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bun x oxlint {staged_files}

format:
  run: bun x oxfmt --no-error-on-unmatched-pattern {staged_files}

chore: remove redis
  Dockerfile
  bun.lock
  docker-compose.yml
  docs/INFRA_MIGRATION_PLAN.md
  docs/PLANNING-OLD.md
  packages/core/package.json
  packages/core/src/auth.ts
  packages/core/src/redis.ts
Due: lint, format

chore: remove redis (#2)
  Dockerfile
  bun.lock
  docker-compose.yml
  docs/INFRA_MIGRATION_PLAN.md
  docs/PLANNING-OLD.md
  packages/core/package.json
  packages/core/src/auth.ts
  packages/core/src/redis.ts
Due: lint, format

chore: update TODO.md
  TODO.md
Due: format

chore: update TODO.md (#3)
  TODO.md
Due: format

docs: cleanup and improve jj documentation
  README.md
  TODO.md
  docs/INFRA_MIGRATION_PLAN.md
  docs/NEXT_STEPS.md
  docs/PLANNING-OLD.md
  docs/features/ATHLETIC_CLUB_AUTH_PLAN.md
  docs/features/GAME_MANAGEMENT_PLAN.md
  docs/features/OPPOSING_TEAMS_SCOUTING_PLAN.md
  docs/features/PLAYBOOK_MANAGEMENT_PLAN.md
  docs/features/PLAYER_DEVELOPMENT_PLAN.md
  docs/features/PRACTICE_PLANNING_PLAN.md
  llms/jj.md
  llms/jj/jj-ryu.md
  llms/jj/jj.md
  llms/jj/jjui.md
  packages/core/src/auth.ts
  packages/web/package.json
  packages/web/src/content/README.md
  packages/web/src/content/planning.md
  packages/web/src/lib/markdown-helpers.ts
  packages/web/src/routes/_protected/$organizationSlug/plan.tsx
Due: lint, format

docs: cleanup and improve jj documentation (#4)
  README.md
  TODO.md
  docs/INFRA_MIGRATION_PLAN.md
  docs/NEXT_STEPS.md
  docs/PLANNING-OLD.md
  docs/features/ATHLETIC_CLUB_AUTH_PLAN.md
  docs/features/GAME_MANAGEMENT_PLAN.md
  docs/features/OPPOSING_TEAMS_SCOUTING_PLAN.md
  docs/features/PLAYBOOK_MANAGEMENT_PLAN.md
  docs/features/PLAYER_DEVELOPMENT_PLAN.md
  docs/features/PRACTICE_PLANNING_PLAN.md
  llms/jj.md
  llms/jj/jj-ryu.md
  llms/jj/jj.md
  llms/jj/jjui.md
  packages/core/src/auth.ts
  packages/web/package.json
  packages/web/src/content/README.md
  packages/web/src/content/planning.md
  packages/web/src/lib/markdown-helpers.ts
  packages/web/src/routes/_protected/$organizationSlug/plan.tsx
Due: lint, format

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

tmp: Add Claude Code GitHub Workflow (#6)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

chore: edit todos
  TODO.md
Due: format

chore: jj ci
  .github/workflows/ci.yml
  TODO.md
  bin/jj-push
  lefthook.yml
Due: format

chore: improve turborepo setup
  TODO.md
  turbo.json
Due: format

chore: update .env.example
  .env.example
  TODO.md
Due: format

fix: repo for gh comments in alchemy ci
  TODO.md
  alchemy.run.ts
Due: lint, format

chore: edit todos (#7)
  TODO.md
Due: format

chore: improve turborepo setup (#9)
  TODO.md
  turbo.json
Due: format

chore: update .env.example (#10)
  .env.example
  TODO.md
Due: format

chore: make fmt ignore md files
  .github/workflows/ci.yml
  .oxfmtignore
  TODO.md
  package.json
  turbo.json
Due: format

chore: fixes...
  TODO.md
  bin/jj-push
  packages/web/src/lib/middleware.ts
Due: lint, format

chore: type-aware fixes
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  AGENTS.md
  TODO.md
  bun.lock
  package.json
  packages/api/package.json
  packages/api/src/index.ts
  packages/core/package.json
  packages/effect-cloudflare/package.json
  packages/marketing/package.json
  packages/marketing/src/components/button.tsx
  packages/marketing/src/components/divider.tsx
  packages/marketing/src/components/ui/hero-background.tsx
  packages/marketing/src/components/ui/navbar.tsx
  packages/marketing/src/lib/use-scroll.ts
  packages/scripts/package.json
  packages/web/package.json
  packages/web/src/components/sidebar/main-nav.tsx
  packages/web/src/components/ui/sidebar.tsx
  turbo.json
Due: lint, format

fix pr issues
  TODO.md
  packages/api/package.json
  packages/api/src/index.ts
  packages/core/package.json
  packages/effect-cloudflare/package.json
  packages/effect-cloudflare/src/internal/context.ts
  packages/effect-cloudflare/src/internal/d1-database.ts
  packages/effect-cloudflare/src/internal/env.ts
  packages/marketing/package.json
  packages/marketing/src/components/button.tsx
  packages/marketing/src/components/divider.tsx
  packages/scripts/package.json
  packages/web/package.json
  packages/web/src/components/sidebar/main-nav.tsx
  packages/web/src/components/ui/sidebar.tsx
  turbo.json
Due: lint, format

just fixes mate (#16)
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  AGENTS.md
  TODO.md
  bun.lock
  package.json
  packages/api/package.json
  packages/api/src/index.ts
  packages/core/package.json
  packages/effect-cloudflare/package.json
  packages/effect-cloudflare/src/internal/context.ts
  packages/effect-cloudflare/src/internal/d1-database.ts
  packages/effect-cloudflare/src/internal/env.ts
  packages/marketing/package.json
  packages/marketing/src/components/button.tsx
  packages/marketing/src/components/ui/hero-background.tsx
  packages/marketing/src/components/ui/navbar.tsx
  packages/marketing/src/lib/use-scroll.ts
  packages/scripts/package.json
  packages/web/package.json
  packages/web/src/components/ui/sidebar.tsx
  turbo.json
Due: lint, format

Update project title in README.md
  README.md
Due: format

chore: type-aware fixes
  .oxfmtignore
  .oxfmtrc.json
  .oxlintrc.json
  TODO.md
  bun.lock
  packages/core/package.json
  packages/core/src/auth.ts
  packages/core/src/email/email.service.ts
  packages/core/src/error.ts
  packages/core/src/feedback/feedback.service.ts
  packages/core/src/player/contact-info/contact-info.repo.ts
  packages/core/src/util.ts
  packages/effect-cloudflare/.oxlintrc.json
  packages/effect-cloudflare/package.json
  packages/marketing/package.json
  packages/marketing/src/components/button.tsx
  packages/scripts/package.json
  packages/web/package.json
  packages/web/src/components/auth/register-form.tsx
  packages/web/src/components/data-table/_data-table-faceted-column-header.tsx
  packages/web/src/components/organizations/create-form.tsx
  packages/web/src/components/organizations/join-form.tsx
  packages/web/src/components/players/contact-card.tsx
  packages/web/src/components/players/contact-edit-card.tsx
  packages/web/src/components/players/contact-info.tsx
  packages/web/src/hooks/use-media-query.ts
  packages/web/src/lib/formatters.ts
  packages/web/src/routes/_protected/$organizationSlug/$teamId/setup.tsx
  packages/web/src/routes/_protected/$organizationSlug/feedback.tsx
  packages/web/src/routes/_protected/$organizationSlug/games/create.tsx
  packages/web/src/routes/_protected/$organizationSlug/players/goals.create.tsx
  packages/web/src/routes/_protected/$organizationSlug/players/resources.create.tsx
  packages/web/src/routes/_protected/$organizationSlug/teams.create.tsx
  packages/web/src/routes/_protected/organizations/join.tsx
  packages/web/src/routes/pad/-create-game-form.tsx
  packages/web/src/routes/pad/-create-season-form.tsx
  packages/web/tailwind.config.ts
  turbo.json
Due: lint, format

chore: type-aware fixes (#17)
  .oxfmtignore
  .oxfmtrc.json
  .oxlintrc.json
  TODO.md
  bun.lock
  packages/core/package.json
  packages/core/src/auth.ts
  packages/core/src/email/email.service.ts
  packages/core/src/error.ts
  packages/core/src/feedback/feedback.service.ts
  packages/core/src/player/contact-info/contact-info.repo.ts
  packages/core/src/util.ts
  packages/effect-cloudflare/.oxlintrc.json
  packages/effect-cloudflare/package.json
  packages/marketing/package.json
  packages/marketing/src/components/button.tsx
  packages/scripts/package.json
  packages/web/package.json
  packages/web/src/components/auth/register-form.tsx
  packages/web/src/components/data-table/_data-table-faceted-column-header.tsx
  packages/web/src/components/organizations/create-form.tsx
  packages/web/src/components/organizations/join-form.tsx
  packages/web/src/components/players/contact-card.tsx
  packages/web/src/components/players/contact-edit-card.tsx
  packages/web/src/components/players/contact-info.tsx
  packages/web/src/hooks/use-media-query.ts
  packages/web/src/lib/formatters.ts
  packages/web/src/routes/_protected/$organizationSlug/$teamId/setup.tsx
  packages/web/src/routes/_protected/$organizationSlug/feedback.tsx
  packages/web/src/routes/_protected/$organizationSlug/games/create.tsx
  packages/web/src/routes/_protected/$organizationSlug/players/goals.create.tsx
  packages/web/src/routes/_protected/$organizationSlug/players/resources.create.tsx
  packages/web/src/routes/_protected/$organizationSlug/teams.create.tsx
  packages/web/src/routes/_protected/organizations/join.tsx
  packages/web/src/routes/pad/-create-game-form.tsx
  packages/web/src/routes/pad/-create-season-form.tsx
  packages/web/tailwind.config.ts
  turbo.json
Due: lint, format

add desciption + name claude gh workflows
  .github/workflows/claude-pr-description.yml
  TODO.md
Due: format

add desciption + name claude gh workflows (#18)
  .github/workflows/claude-pr-description.yml
  TODO.md
Due: format

chore: set up infisical
  .env.example
  .github/workflows/deploy.yml
  .infisical.json
  TODO.md
  alchemy.run.ts
  bun.lock
  docs/ENVIRONMENT_SETUP.md
  docs/infisical/cli.md
  package.json
  packages/core/src/auth.ts
  packages/web/package.json
  packages/web/vite.config.ts
Due: lint, format

chore: fix vite build issues
  .env.example
  AGENTS.md
  CLAUDE.md
  TODO.md
  bun.lock
  package.json
  packages/core/tsconfig.json
  packages/marketing/package.json
  packages/web/package.json
  packages/web/src/components/ui/search-combobox.tsx
  packages/web/tsconfig.json
  packages/web/vite.config.ts
  tsconfig.json
  types/env.d.ts
Due: lint, format

fix: type issues
  .gitignore
  .oxlintrc.json
  alchemy.run.ts
  bun.lock
  packages/core/package.json
  packages/core/tsconfig.tsbuildinfo
  packages/web/src/routeTree.gen.ts
  tsconfig.json
Due: lint, format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc,css,md}
