Repository jackwatters45/laxdb: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bun x oxlint {staged_files}

format:
  run: bun x oxfmt --no-error-on-unmatched-pattern {staged_files}

fix: pr improvements
  packages/pipeline/AGENTS.md
  packages/pipeline/TODO.md
  packages/pipeline/docs/ADDING_ENDPOINTS.md
  packages/pipeline/src/api-client/api-client.service.ts
  packages/pipeline/src/api-client/graphql.service.ts
  packages/pipeline/src/api-client/index.ts
  packages/pipeline/src/example-pll.ts
  packages/pipeline/src/index.ts
  packages/pipeline/src/pll/index.ts
  packages/pipeline/src/pll/pll.client.ts
Due: lint, format

feat(pipeline): add Effect-based web scraping and API client (#63)
  README.md
  bun.lock
  packages/pipeline/AGENTS.md
  packages/pipeline/README.md
  packages/pipeline/TODO.md
  packages/pipeline/docs/ADDING_ENDPOINTS.md
  packages/pipeline/package.json
  packages/pipeline/src/api-client/api-client.error.ts
  packages/pipeline/src/api-client/api-client.schema.ts
  packages/pipeline/src/api-client/api-client.service.ts
  packages/pipeline/src/api-client/graphql.schema.ts
  packages/pipeline/src/api-client/graphql.service.ts
  packages/pipeline/src/config.ts
  packages/pipeline/src/error.ts
  packages/pipeline/src/example-pll.ts
  packages/pipeline/src/parser/parser.error.ts
  packages/pipeline/src/parser/parser.schema.ts
  packages/pipeline/src/parser/parser.service.ts
  packages/pipeline/src/pll/pll.client.ts
  packages/pipeline/src/pll/pll.queries.ts
  packages/pipeline/src/pll/pll.schema.ts
  packages/pipeline/src/pll/pll.test.ts
  packages/pipeline/src/scraper/scraper.client.ts
  packages/pipeline/src/scraper/scraper.error.ts
  packages/pipeline/src/scraper/scraper.schema.ts
  packages/pipeline/src/scraper/scraper.service.ts
  packages/pipeline/tsconfig.json
  packages/pipeline/vitest.config.ts
Due: lint, format

chore: cleanup
  TODO.md
  bun.lock
  package.json
  packages/api/package.json
  packages/core/package.json
  packages/pipeline/vitest.config.ts
  packages/scripts/package.json
  packages/scripts/src/index.ts
  packages/scripts/vitest.config.ts
  packages/web/package.json
Due: lint, format

chore: cleanup (#64)
  TODO.md
  bun.lock
  package.json
  packages/api/package.json
  packages/core/package.json
  packages/pipeline/vitest.config.ts
  packages/scripts/package.json
  packages/scripts/src/index.ts
  packages/scripts/vitest.config.ts
  packages/web/package.json
Due: lint, format

feat: rest of pll api
  .gitignore
  bun.lock
  package.json
  packages/pipeline/AGENTS.md
  packages/pipeline/TODO.md
  packages/pipeline/package.json
  packages/pipeline/src/api-client/api-client.error.ts
  packages/pipeline/src/api-client/graphql.service.ts
  packages/pipeline/src/api-client/rest-client.schema.ts
  packages/pipeline/src/api-client/rest-client.service.ts
  packages/pipeline/src/api-client/rest-client.test.ts
  packages/pipeline/src/error.ts
  packages/pipeline/src/pll/extract-queries.ts
  packages/pipeline/src/pll/pll.client.ts
  packages/pipeline/src/pll/pll.integration.test.ts
  packages/pipeline/src/pll/pll.queries.ts
  packages/pipeline/src/pll/pll.schema.test.ts
  packages/pipeline/src/pll/pll.schema.ts
  packages/pipeline/src/pll/pll.test.ts
  packages/pipeline/vitest.config.ts
  packages/scripts/src/index.ts
Due: lint, format

update env config
  packages/api/src/auth/auth.client.ts
  packages/api/src/game/game.client.ts
  packages/api/src/organization/organization.client.ts
  packages/api/src/player/contact-info/contact-info.client.ts
  packages/api/src/player/player.client.ts
  packages/api/src/protocol.ts
  packages/api/src/season/season.client.ts
  packages/api/src/team/team.client.ts
  packages/core/drizzle.config.ts
  packages/core/src/auth.ts
  packages/core/src/config.ts
  packages/core/src/drizzle/drizzle.service.ts
  packages/core/src/email/email.service.ts
  packages/pipeline/src/pll/extract-queries.ts
  packages/web/src/lib/formatters.ts
Due: lint, format

additions to pll api
  .gitignore
  packages/pipeline/AGENTS.md
  packages/pipeline/src/pll/introspect.ts
  packages/pipeline/src/pll/pll.client.ts
  packages/pipeline/src/pll/pll.integration.test.ts
  packages/pipeline/src/pll/pll.queries.ts
  packages/pipeline/src/pll/pll.schema.test.ts
  packages/pipeline/src/pll/pll.schema.ts
Due: lint, format

claude review fixes
  .oxlintrc.json
  packages/core/drizzle.config.ts
  packages/core/src/config.ts
  packages/pipeline/AGENTS.md
  packages/pipeline/src/api-client/graphql.service.test.ts
  packages/pipeline/src/api-client/rest-client.service.ts
  packages/pipeline/src/error.ts
  packages/pipeline/src/pll/pll.client.ts
  packages/pipeline/src/pll/pll.schema.test.ts
Due: lint, format

feat: rest of pll api (#65)
  .gitignore
  .oxlintrc.json
  bun.lock
  package.json
  packages/api/src/auth/auth.client.ts
  packages/api/src/game/game.client.ts
  packages/api/src/organization/organization.client.ts
  packages/api/src/player/contact-info/contact-info.client.ts
  packages/api/src/player/player.client.ts
  packages/api/src/protocol.ts
  packages/api/src/season/season.client.ts
  packages/api/src/team/team.client.ts
  packages/core/drizzle.config.ts
  packages/core/src/auth.ts
  packages/core/src/config.ts
  packages/core/src/drizzle/drizzle.service.ts
  packages/core/src/email/email.service.ts
  packages/pipeline/AGENTS.md
  packages/pipeline/TODO.md
  packages/pipeline/package.json
  packages/pipeline/src/api-client/api-client.error.ts
  packages/pipeline/src/api-client/graphql.service.test.ts
  packages/pipeline/src/api-client/graphql.service.ts
  packages/pipeline/src/api-client/rest-client.schema.ts
  packages/pipeline/src/api-client/rest-client.service.ts
  packages/pipeline/src/api-client/rest-client.test.ts
  packages/pipeline/src/error.ts
  packages/pipeline/src/pll/extract-queries.ts
  packages/pipeline/src/pll/introspect.ts
  packages/pipeline/src/pll/pll.client.ts
  packages/pipeline/src/pll/pll.integration.test.ts
  packages/pipeline/src/pll/pll.queries.ts
  packages/pipeline/src/pll/pll.schema.test.ts
  packages/pipeline/src/pll/pll.schema.ts
  packages/pipeline/src/pll/pll.test.ts
  packages/pipeline/vitest.config.ts
  packages/scripts/src/index.ts
  packages/web/src/lib/formatters.ts
Due: lint, format

feat(pipeline): configurable retry settings per client, consolidate defaults
  packages/pipeline/README.md
  packages/pipeline/TODO.md
  packages/pipeline/src/api-client/graphql.schema.ts
  packages/pipeline/src/api-client/graphql.service.ts
  packages/pipeline/src/api-client/rest-client.schema.ts
  packages/pipeline/src/api-client/rest-client.service.ts
  packages/pipeline/src/config.ts
Due: lint, format

pr review fixes
  packages/pipeline/README.md
  packages/pipeline/src/api-client/graphql.schema.ts
  packages/pipeline/src/api-client/graphql.service.ts
  packages/pipeline/src/api-client/rest-client.schema.ts
  packages/pipeline/src/api-client/rest-client.service.ts
  packages/pipeline/src/api-client/rest-client.test.ts
Due: lint, format

feat(pipeline): configurable retry settings per client (#66)
  packages/pipeline/README.md
  packages/pipeline/TODO.md
  packages/pipeline/src/api-client/graphql.schema.ts
  packages/pipeline/src/api-client/graphql.service.ts
  packages/pipeline/src/api-client/rest-client.schema.ts
  packages/pipeline/src/api-client/rest-client.service.ts
  packages/pipeline/src/api-client/rest-client.test.ts
  packages/pipeline/src/config.ts
Due: lint, format

docs(pipeline): extraction planning
  packages/pipeline/docs/EXTERNAL_LEAGUE_DATA_PLAN.md
Due: format

docs(pipeline): extraction planning (#67)
  packages/pipeline/docs/EXTERNAL_LEAGUE_DATA_PLAN.md
Due: format

exploration
  .gitignore
  packages/pipeline/docs/PLL_DATA_MODEL.md
  packages/pipeline/src/api-client/graphql.service.ts
  packages/pipeline/src/api-client/rest-client.service.ts
  packages/pipeline/src/extract/extract.config.ts
  packages/pipeline/src/extract/extract.schema.ts
  packages/pipeline/src/extract/index.ts
  packages/pipeline/src/extract/pll/index.ts
  packages/pipeline/src/extract/pll/pll.extractor.ts
  packages/pipeline/src/extract/pll/pll.manifest.ts
  packages/pipeline/src/extract/run.ts
  packages/pipeline/src/extract/sample-player-details.ts
  packages/pipeline/src/pll/explore-data.ts
  packages/pipeline/src/pll/pll.schema.ts
Due: lint, format

feat(pipeline): add PLL data extraction framework (#68)
  .gitignore
  packages/pipeline/docs/PLL_DATA_MODEL.md
  packages/pipeline/src/api-client/graphql.service.ts
  packages/pipeline/src/api-client/rest-client.service.ts
  packages/pipeline/src/extract/extract.config.ts
  packages/pipeline/src/extract/extract.schema.ts
  packages/pipeline/src/extract/index.ts
  packages/pipeline/src/extract/pll/index.ts
  packages/pipeline/src/extract/pll/pll.extractor.ts
  packages/pipeline/src/extract/pll/pll.manifest.ts
  packages/pipeline/src/extract/run.ts
  packages/pipeline/src/extract/sample-player-details.ts
  packages/pipeline/src/pll/explore-data.ts
  packages/pipeline/src/pll/pll.schema.ts
Due: lint, format

exploration 2
  TODO.md
  packages/pipeline/.oxlintrc.json
  packages/pipeline/docs/PLL_DATA_MODEL.md
  packages/pipeline/src/extract/extract-all-player-details.ts
  packages/pipeline/src/extract/extract-career-stats.ts
  packages/pipeline/src/extract/extract-remaining.ts
  packages/pipeline/src/extract/pll/pll.extractor.ts
  packages/pipeline/src/extract/run.ts
  packages/pipeline/src/extract/sample-player-details.ts
  packages/pipeline/src/pll/explore-data.ts
  packages/pipeline/src/pll/extract-queries.ts
  packages/pipeline/src/pll/introspect.ts
  packages/pipeline/src/pll/pll.schema.ts
Due: lint, format

feat(pipeline): complete PLL data extraction with play-by-play (#73)
  TODO.md
  packages/pipeline/.oxlintrc.json
  packages/pipeline/docs/PLL_DATA_MODEL.md
  packages/pipeline/src/extract/extract-all-player-details.ts
  packages/pipeline/src/extract/extract-career-stats.ts
  packages/pipeline/src/extract/extract-remaining.ts
  packages/pipeline/src/extract/pll/pll.extractor.ts
  packages/pipeline/src/extract/run.ts
  packages/pipeline/src/extract/sample-player-details.ts
  packages/pipeline/src/pll/explore-data.ts
  packages/pipeline/src/pll/extract-queries.ts
  packages/pipeline/src/pll/introspect.ts
  packages/pipeline/src/pll/pll.schema.ts
Due: lint, format

pll validation
  packages/pipeline/AGENTS.md
  packages/pipeline/docs/PLL_DATA_MODEL.md
  packages/pipeline/src/validate/index.ts
  packages/pipeline/src/validate/validate-pll.ts
  packages/pipeline/src/validate/validate.schema.ts
  packages/pipeline/src/validate/validate.service.ts
Due: lint, format

feat(pipeline): add validation framework for PLL data extraction (#70)
  packages/pipeline/AGENTS.md
  packages/pipeline/docs/PLL_DATA_MODEL.md
  packages/pipeline/src/validate/index.ts
  packages/pipeline/src/validate/validate-pll.ts
  packages/pipeline/src/validate/validate.schema.ts
  packages/pipeline/src/validate/validate.service.ts
Due: lint, format

pll tests
  packages/pipeline/src/validate/data-anomaly.test.ts
  packages/pipeline/src/validate/validate.service.test.ts
Due: lint, format

test(pll): add comprehensive test suite for validation and data anomaly detection (#71)
  packages/pipeline/src/validate/data-anomaly.test.ts
  packages/pipeline/src/validate/validate.service.test.ts
Due: lint, format

chore(pipeline): update docs
  packages/pipeline/AGENTS.md
  packages/pipeline/README.md
  packages/pipeline/TODO.md
  packages/pipeline/docs/ADDING_DATA_SOURCE.md
  packages/pipeline/docs/EXTERNAL_LEAGUE_DATA_PLAN.md
Due: format

fix(pipeline): linting errors
  bun.lock
  packages/pipeline/.oxlintrc.json
  packages/pipeline/TODO.md
  packages/pipeline/package.json
  packages/pipeline/src/extract/extract-all-player-details.ts
  packages/pipeline/src/extract/extract-career-stats.ts
  packages/pipeline/src/extract/extract-remaining.ts
  packages/pipeline/src/extract/pll/pll.extractor.ts
  packages/pipeline/src/extract/pll/pll.manifest.ts
  packages/pipeline/src/extract/run.ts
  packages/pipeline/src/extract/sample-player-details.ts
  packages/pipeline/src/pll/explore-data.ts
  packages/pipeline/src/pll/pll.schema.test.ts
  packages/pipeline/src/validate/data-anomaly.test.ts
  packages/pipeline/src/validate/validate-pll.ts
  packages/pipeline/src/validate/validate.service.ts
Due: lint, format

fix: remove gitignore from gitignore in scratchpad
  scratchpad/.gitignore
Due: none

fix: remove gitignore from gitignore in scratchpad (#75)
  scratchpad/.gitignore
Due: none

chore: add .ignore to give opencode access to the contents of scratchpad
  .ignore
Due: none

chore: add .ignore to give opencode access to the contents of scratchpad (#76)
  .ignore
Due: none

update agents context
  .github/workflows/claude-pr.yml
  .github/workflows/release.yml
  .infisical.json
  .oxfmtrc.json
  .oxlintrc.json
  AGENTS.md
  TODO.md
  alchemy.run.ts
  llms/INTENT_LAYER.md
  package.json
  packages/api/AGENTS.md
  packages/core/AGENTS.md
  packages/core/src/auth/AGENTS.md
  packages/core/src/drizzle/AGENTS.md
  packages/docs/AGENTS.md
  packages/effect-cloudflare/AGENTS.md
  packages/effect-cloudflare/package.json
  packages/marketing/AGENTS.md
  packages/scripts/AGENTS.md
  packages/ui/AGENTS.md
  packages/web/AGENTS.md
  tsconfig.json
  types/env.d.ts
  types/tanstack-table.d.ts
Due: lint, format

chore: restructure AGENTS.md with intent layer documentation (#77)
  .github/workflows/claude-pr.yml
  .github/workflows/release.yml
  .infisical.json
  .oxfmtrc.json
  .oxlintrc.json
  AGENTS.md
  TODO.md
  alchemy.run.ts
  llms/INTENT_LAYER.md
  package.json
  packages/api/AGENTS.md
  packages/core/AGENTS.md
  packages/core/src/auth/AGENTS.md
  packages/core/src/drizzle/AGENTS.md
  packages/docs/AGENTS.md
  packages/effect-cloudflare/AGENTS.md
  packages/effect-cloudflare/package.json
  packages/marketing/AGENTS.md
  packages/scripts/AGENTS.md
  packages/ui/AGENTS.md
  packages/web/AGENTS.md
  tsconfig.json
  types/env.d.ts
  types/tanstack-table.d.ts
Due: lint, format

spec template rough draft
  bun.lock
  docs/FEATURE_SPEC_TEMPLATE.md
  llms/ALCHEMY.md
  llms/tanstack-router.txt
  package.json
Due: format

docs: add feature spec template and alchemy cloudflare guide (#78)
  bun.lock
  docs/FEATURE_SPEC_TEMPLATE.md
  llms/ALCHEMY.md
  llms/tanstack-router.txt
  package.json
Due: format

fix(pipeline): resolve linting errors (#74)
  bun.lock
  packages/pipeline/.oxlintrc.json
  packages/pipeline/AGENTS.md
  packages/pipeline/README.md
  packages/pipeline/TODO.md
  packages/pipeline/docs/ADDING_DATA_SOURCE.md
  packages/pipeline/docs/EXTERNAL_LEAGUE_DATA_PLAN.md
  packages/pipeline/package.json
  packages/pipeline/src/extract/extract-all-player-details.ts
  packages/pipeline/src/extract/extract-career-stats.ts
  packages/pipeline/src/extract/extract-remaining.ts
  packages/pipeline/src/extract/pll/pll.extractor.ts
  packages/pipeline/src/extract/pll/pll.manifest.ts
  packages/pipeline/src/extract/run.ts
  packages/pipeline/src/extract/sample-player-details.ts
  packages/pipeline/src/pll/explore-data.ts
  packages/pipeline/src/pll/pll.schema.test.ts
  packages/pipeline/src/validate/data-anomaly.test.ts
  packages/pipeline/src/validate/validate-pll.ts
  packages/pipeline/src/validate/validate.service.ts
Due: lint, format

refactor(pipeline): update fs to use effect file systen
  TODO.md
  bun.lock
  package.json
  packages/api/package.json
  packages/core/package.json
  packages/core/src/util.ts
  packages/pipeline/TODO.md
  packages/pipeline/package.json
  packages/pipeline/src/extract/extract-all-player-details.ts
  packages/pipeline/src/extract/extract-career-stats.ts
  packages/pipeline/src/extract/extract-remaining.ts
  packages/pipeline/src/extract/extract.config.ts
  packages/pipeline/src/extract/pll/pll.extractor.ts
  packages/pipeline/src/extract/pll/pll.manifest.ts
  packages/pipeline/src/extract/run.ts
  packages/pipeline/src/extract/sample-player-details.ts
  packages/pipeline/src/validate/data-anomaly.test.ts
  packages/pipeline/src/validate/validate-pll.ts
  packages/pipeline/src/validate/validate.service.test.ts
  packages/pipeline/src/validate/validate.service.ts
Due: lint, format

refactor(pipeline): update node utils to use effect version (#79)
  TODO.md
  bun.lock
  package.json
  packages/api/package.json
  packages/core/package.json
  packages/core/src/util.ts
  packages/pipeline/TODO.md
  packages/pipeline/package.json
  packages/pipeline/src/extract/extract-all-player-details.ts
  packages/pipeline/src/extract/extract-career-stats.ts
  packages/pipeline/src/extract/extract-remaining.ts
  packages/pipeline/src/extract/extract.config.ts
  packages/pipeline/src/extract/pll/pll.extractor.ts
  packages/pipeline/src/extract/pll/pll.manifest.ts
  packages/pipeline/src/extract/run.ts
  packages/pipeline/src/extract/sample-player-details.ts
  packages/pipeline/src/validate/data-anomaly.test.ts
  packages/pipeline/src/validate/validate-pll.ts
  packages/pipeline/src/validate/validate.service.test.ts
  packages/pipeline/src/validate/validate.service.ts
Due: lint, format

update gh ci to check if author is claude
  .github/workflows/ci.yml
Due: none

ci: auto-format code from claude in github actions (#80)
  .github/workflows/ci.yml
  TODO.md
Due: format

docs: add CLAUDE.md project instructions and update oxfmt config
  .oxfmtrc.json
  .worktreeinclude
  CLAUDE.md
Due: format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc,css,md}
