Repository jackwatters45/laxdb: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bun x oxlint {staged_files}

format:
  run: bun x oxfmt --no-error-on-unmatched-pattern {staged_files}

fix: ui fixes
  TODO.md
  bun.lock
  packages/ui/components.json
  packages/ui/src/components/date-picker-input.tsx
  packages/ui/src/components/theme-provider.tsx
  packages/ui/src/components/theme-toggle.tsx
  packages/ui/src/components/ui/chart.tsx
  packages/ui/src/components/ui/command.tsx
  packages/ui/src/components/ui/context-menu.tsx
  packages/ui/src/components/ui/dialog.tsx
  packages/ui/src/components/ui/drawer.tsx
  packages/ui/src/components/ui/dropdown-menu.tsx
  packages/ui/src/components/ui/input-otp.tsx
  packages/ui/src/components/ui/menubar.tsx
  packages/ui/src/components/ui/navigation-menu.tsx
  packages/ui/src/components/ui/pagination.tsx
  packages/ui/src/components/ui/select.tsx
  packages/ui/src/components/ui/sidebar.tsx
  packages/ui/src/components/ui/sonner.tsx
  packages/ui/src/components/ui/toggle-group.tsx
  packages/ui/tsconfig.json
  packages/web/README.md
  packages/web/components.json
  packages/web/package.json
  packages/web/src/components/component-example.tsx
  packages/web/src/components/example.tsx
  packages/web/tsconfig.json
  packages/web/vite.config.ts
Due: lint, format

chore: update README.md to use infisical
  README.md
Due: format

feat: update forms
  TODO.md
  packages/web/src/components/auth/login-form.tsx
  packages/web/src/components/auth/register-form.tsx
  packages/web/src/components/organizations/create-form.tsx
  packages/web/src/components/organizations/join-form.tsx
  packages/web/src/components/players/contact-edit-card.tsx
  packages/web/src/components/players/contact-info.tsx
Due: lint, format

feat: update deprecated icons
  packages/ui/src/components/social-icons.tsx
  packages/ui/src/components/ui/command.tsx
  packages/web/src/components/data-table/data-table-filters.tsx
  packages/web/src/components/organizations/create-form.tsx
  packages/web/src/components/players/contact-card.tsx
  packages/web/src/components/players/contact-edit-card.tsx
Due: lint, format

chore: update AGENTS.md
  AGENTS.md
  TODO.md
Due: format

feat: add routes
  TODO.md
  bun.lock
  package.json
  packages/web/package.json
  packages/web/src/components/data-table/data-table-filters.tsx
  packages/web/src/globals.css
  packages/web/src/routeTree.gen.ts
  packages/web/src/routes/(auth)/login.tsx
  packages/web/src/routes/(auth)/logout.tsx
  packages/web/src/routes/(auth)/register.tsx
  packages/web/src/routes/__root.tsx
  packages/web/src/routes/_protected.tsx
  packages/web/src/routes/_protected/$organizationSlug.tsx
  packages/web/src/routes/_protected/$organizationSlug/$teamId.tsx
  packages/web/src/routes/_protected/$organizationSlug/feedback.tsx
  packages/web/src/routes/_protected/$organizationSlug/index.tsx
  packages/web/src/routes/_protected/$organizationSlug/team.create.tsx
  packages/web/src/routes/_protected/organizations/create.tsx
  packages/web/src/routes/_protected/organizations/join.tsx
  packages/web/src/routes/_protected/redirect.tsx
  packages/web/src/routes/api/auth/$.ts
Due: lint, format

fixes
  TODO.md
  packages/core/tsconfig.json
  packages/ui/package.json
  packages/ui/tsconfig.json
  packages/web/postcss.config.mjs
  packages/web/src/lib/auth-client.ts
  packages/web/tsconfig.json
  tsconfig.json
  types/env.d.ts
  types/tanstack-table.d.ts
  types/tanstack-table.ts
Due: lint, format

fix: typescript configuration cleanup (#21)
  TODO.md
  packages/core/tsconfig.json
  packages/ui/package.json
  packages/ui/tsconfig.json
  packages/web/postcss.config.mjs
  packages/web/src/lib/auth-client.ts
  packages/web/tsconfig.json
  tsconfig.json
  types/env.d.ts
  types/tanstack-table.d.ts
  types/tanstack-table.ts
Due: lint, format

chore: cleanup
  TODO.md
  docs/ENVIRONMENT_SETUP.md
  llms/infisical/cli.md
  scratchpad/.gitignore
  scratchpad/src/.gitkeep
Due: format

chore: update TODOs
  TODO.md
  packages/web/src/components/players/contact-edit-card.tsx
  packages/web/src/routes/_protected/$organizationSlug/$teamId/players/$playerId/-data-2.ts
  packages/web/src/routes/_protected/$organizationSlug/$teamId/players/$playerId/contact-info.tsx
  packages/web/src/routes/_protected/$organizationSlug/$teamId/players/$playerId/edit.tsx
  packages/web/src/routes/_protected/$organizationSlug/$teamId/players/$playerId/index.tsx
  packages/web/src/routes/_protected/$organizationSlug/$teamId/players/index.tsx
  packages/web/src/routes/_protected/$organizationSlug/games/$gameId/index.tsx
  packages/web/src/routes/_protected/$organizationSlug/games/$gameId/roster.tsx
  packages/web/src/routes/_protected/$organizationSlug/games/create.tsx
  packages/web/src/routes/_protected/$organizationSlug/games/index.tsx
  packages/web/src/routes/_protected/$organizationSlug/games/old.tsx
  packages/web/src/routes/_protected/$organizationSlug/players/$playerId/index.tsx
  packages/web/src/routes/_protected/$organizationSlug/players/$playerId/notes.tsx
  packages/web/src/routes/_protected/$organizationSlug/players/$playerId/resources.tsx
  packages/web/src/routes/_protected/$organizationSlug/players/$playerId/stats.tsx
  packages/web/src/routes/_protected/$organizationSlug/players/-components/players-columns.tsx
  packages/web/src/routes/_protected/$organizationSlug/players/goals.create.tsx
  packages/web/src/routes/_protected/$organizationSlug/players/resources.create.tsx
  packages/web/src/routes/_protected/$organizationSlug/settings/users/-modal-add-user.tsx
  packages/web/src/routes/_protected/$organizationSlug/settings/users/index.tsx
Due: lint, format

chore: update TODOs (#23)
  TODO.md
  packages/web/src/components/players/contact-edit-card.tsx
  packages/web/src/routes/_protected/$organizationSlug/$teamId/players/$playerId/-data-2.ts
  packages/web/src/routes/_protected/$organizationSlug/$teamId/players/$playerId/contact-info.tsx
  packages/web/src/routes/_protected/$organizationSlug/$teamId/players/$playerId/edit.tsx
  packages/web/src/routes/_protected/$organizationSlug/$teamId/players/$playerId/index.tsx
  packages/web/src/routes/_protected/$organizationSlug/$teamId/players/index.tsx
  packages/web/src/routes/_protected/$organizationSlug/games/$gameId/index.tsx
  packages/web/src/routes/_protected/$organizationSlug/games/$gameId/roster.tsx
  packages/web/src/routes/_protected/$organizationSlug/games/create.tsx
  packages/web/src/routes/_protected/$organizationSlug/games/index.tsx
  packages/web/src/routes/_protected/$organizationSlug/games/old.tsx
  packages/web/src/routes/_protected/$organizationSlug/players/$playerId/index.tsx
  packages/web/src/routes/_protected/$organizationSlug/players/$playerId/notes.tsx
  packages/web/src/routes/_protected/$organizationSlug/players/$playerId/resources.tsx
  packages/web/src/routes/_protected/$organizationSlug/players/$playerId/stats.tsx
  packages/web/src/routes/_protected/$organizationSlug/players/-components/players-columns.tsx
  packages/web/src/routes/_protected/$organizationSlug/players/goals.create.tsx
  packages/web/src/routes/_protected/$organizationSlug/players/resources.create.tsx
  packages/web/src/routes/_protected/$organizationSlug/settings/users/-modal-add-user.tsx
  packages/web/src/routes/_protected/$organizationSlug/settings/users/index.tsx
Due: lint, format

feat: add indeterminate state to checkbox
  TODO.md
  packages/ui/src/components/ui/checkbox.tsx
  packages/web/src/routes/_protected/$organizationSlug/$teamId/players/$playerId/-components/player-stats-columns.tsx
  packages/web/src/routes/_protected/$organizationSlug/$teamId/players/-components/players-columns.tsx
  packages/web/src/routes/_protected/$organizationSlug/players/-components/players-columns.tsx
Due: lint, format

feat: add indeterminate state to checkbox (#24)
  TODO.md
  packages/ui/src/components/ui/checkbox.tsx
  packages/web/src/routes/_protected/$organizationSlug/$teamId/players/$playerId/-components/player-stats-columns.tsx
  packages/web/src/routes/_protected/$organizationSlug/$teamId/players/-components/players-columns.tsx
  packages/web/src/routes/_protected/$organizationSlug/players/-components/players-columns.tsx
Due: lint, format

chore: update TODOs
  TODO.md
  scratchpad/.gitignore
Due: format

chore: update TODOs (#26)
  TODO.md
  scratchpad/.gitignore
Due: format

feat: blog
  .gitignore
  .oxlintrc.json
  TODO.md
  alchemy.run.ts
  bun.lock
  packages/core/drizzle.config.ts
  packages/marketing/.gitignore
  packages/marketing/content-collections.ts
  packages/marketing/next.config.ts
  packages/marketing/package.json
  packages/marketing/src/app/favicon.ico
  packages/marketing/src/app/layout.tsx
  packages/marketing/src/app/not-found.tsx
  packages/marketing/src/app/opengraph-image.png
  packages/marketing/src/components/markdown.tsx
  packages/marketing/src/components/ui/call-to-action.tsx
  packages/marketing/src/components/ui/footer.tsx
  packages/marketing/src/components/ui/navbar.tsx
  packages/marketing/src/components/ui/testimonial.tsx
  packages/marketing/src/content/hello-blog.md
  packages/marketing/src/globals.css
  packages/marketing/src/lib/markdown.ts
  packages/marketing/src/routeTree.gen.ts
  packages/marketing/src/router.tsx
  packages/marketing/src/routes/__root.tsx
  packages/marketing/src/routes/blog/$slug.tsx
  packages/marketing/src/routes/blog/index.tsx
  packages/marketing/src/routes/index.tsx
  packages/marketing/src/site.ts
  packages/marketing/tsconfig.json
  packages/marketing/vite.config.ts
  packages/ui/package.json
  packages/ui/src/hooks/use-mobile.ts
  packages/ui/src/styles/globals.css
  packages/web/src/routes/_protected/$organizationSlug/$teamId/players/-components/players-filterbar.tsx
  packages/web/src/routes/_protected/$organizationSlug/$teamId/players/-components/players-toolbar.tsx
Due: lint, format

fix: add content-collections stub for CI typecheck
  .github/workflows/ci.yml
  .gitignore
  alchemy.run.ts
  bun.lock
  packages/marketing/content-collections.ts
  packages/marketing/package.json
  packages/marketing/src/components/ui/call-to-action.tsx
  packages/marketing/src/content/hello-blog.md
  packages/marketing/src/routeTree.gen.ts
  packages/marketing/vite.config.ts
  tsconfig.json
Due: lint, format

feat: blog (#25)
  .github/workflows/ci.yml
  .gitignore
  .oxlintrc.json
  TODO.md
  alchemy.run.ts
  bun.lock
  packages/core/drizzle.config.ts
  packages/marketing/.gitignore
  packages/marketing/content-collections.ts
  packages/marketing/next.config.ts
  packages/marketing/package.json
  packages/marketing/src/app/favicon.ico
  packages/marketing/src/app/layout.tsx
  packages/marketing/src/app/not-found.tsx
  packages/marketing/src/app/opengraph-image.png
  packages/marketing/src/components/markdown.tsx
  packages/marketing/src/components/ui/call-to-action.tsx
  packages/marketing/src/components/ui/footer.tsx
  packages/marketing/src/components/ui/navbar.tsx
  packages/marketing/src/components/ui/testimonial.tsx
  packages/marketing/src/content/hello-blog.md
  packages/marketing/src/globals.css
  packages/marketing/src/lib/markdown.ts
  packages/marketing/src/routeTree.gen.ts
  packages/marketing/src/router.tsx
  packages/marketing/src/routes/__root.tsx
  packages/marketing/src/routes/blog/$slug.tsx
  packages/marketing/src/routes/blog/index.tsx
  packages/marketing/src/routes/index.tsx
  packages/marketing/src/site.ts
  packages/marketing/tsconfig.json
  packages/marketing/vite.config.ts
  packages/ui/package.json
  packages/ui/src/hooks/use-mobile.ts
  packages/ui/src/styles/globals.css
  packages/web/src/routes/_protected/$organizationSlug/$teamId/players/-components/players-filterbar.tsx
  packages/web/src/routes/_protected/$organizationSlug/$teamId/players/-components/players-toolbar.tsx
  tsconfig.json
Due: lint, format

feat: fumadocs
  .gitignore
  README.md
  TODO.md
  alchemy.run.ts
  bun.lock
  package.json
  packages/api/package.json
  packages/core/package.json
  packages/docs/content/docs/index.mdx
  packages/docs/content/docs/test.mdx
  packages/docs/package.json
  packages/docs/source.config.ts
  packages/docs/src/components/not-found.tsx
  packages/docs/src/components/search.tsx
  packages/docs/src/lib/layout.shared.tsx
  packages/docs/src/lib/source.ts
  packages/docs/src/routeTree.gen.ts
  packages/docs/src/router.tsx
  packages/docs/src/routes/__root.tsx
  packages/docs/src/routes/api/search.ts
  packages/docs/src/routes/docs/$.tsx
  packages/docs/src/routes/index.tsx
  packages/docs/src/styles/app.css
  packages/docs/tsconfig.json
  packages/docs/vite.config.ts
  packages/effect-cloudflare/tsconfig.json
  packages/marketing/package.json
  packages/web/package.json
  tsconfig.json
Due: lint, format

fix: fix static prerendering in vite config
  packages/docs/vite.config.ts
Due: lint, format

feat: fumadocs (#27)
  .gitignore
  README.md
  TODO.md
  alchemy.run.ts
  bun.lock
  package.json
  packages/api/package.json
  packages/core/package.json
  packages/docs/content/docs/index.mdx
  packages/docs/content/docs/test.mdx
  packages/docs/package.json
  packages/docs/source.config.ts
  packages/docs/src/components/not-found.tsx
  packages/docs/src/components/search.tsx
  packages/docs/src/lib/layout.shared.tsx
  packages/docs/src/lib/source.ts
  packages/docs/src/routeTree.gen.ts
  packages/docs/src/router.tsx
  packages/docs/src/routes/__root.tsx
  packages/docs/src/routes/api/search.ts
  packages/docs/src/routes/docs/$.tsx
  packages/docs/src/routes/index.tsx
  packages/docs/src/styles/app.css
  packages/docs/tsconfig.json
  packages/docs/vite.config.ts
  packages/effect-cloudflare/tsconfig.json
  packages/marketing/package.json
  packages/web/package.json
  tsconfig.json
Due: lint, format

feat: add mdx to blog
  TODO.md
  bun.lock
  packages/marketing/content-collections.ts
  packages/marketing/package.json
  packages/marketing/src/components/markdown.tsx
  packages/marketing/src/components/mdx-content.tsx
  packages/marketing/src/content/hello-blog.mdx
  packages/marketing/src/lib/markdown.ts
  packages/marketing/src/routes/blog/$slug.tsx
  packages/marketing/tsconfig.json
Due: lint, format

feat: add mdx to blog (#28)
  TODO.md
  bun.lock
  packages/marketing/content-collections.ts
  packages/marketing/package.json
  packages/marketing/src/components/markdown.tsx
  packages/marketing/src/components/mdx-content.tsx
  packages/marketing/src/content/hello-blog.mdx
  packages/marketing/src/lib/markdown.ts
  packages/marketing/src/routes/blog/$slug.tsx
  packages/marketing/tsconfig.json
Due: lint, format

feat: add changesets with ai action feat: add changesets
  .changeset/config.json
  .github/workflows/ai-changeset.yml
  .github/workflows/release.yml
  TODO.md
  bun.lock
  llms/changesets.md
  package.json
  packages/api/package.json
  packages/docs/package.json
  packages/marketing/package.json
  packages/ui/package.json
  packages/web/package.json
Due: format

feat: add changesets with ai action (#29)
  .changeset/config.json
  .github/workflows/ai-changeset.yml
  .github/workflows/release.yml
  TODO.md
  bun.lock
  llms/changesets.md
  package.json
  packages/api/package.json
  packages/docs/package.json
  packages/marketing/package.json
  packages/ui/package.json
  packages/web/package.json
Due: format

chore: update AGENTS.md files
  AGENTS.md
  TODO.md
  packages/api/AGENTS.md
  packages/core/AGENTS.md
  packages/docs/AGENTS.md
  packages/marketing/AGENTS.md
  packages/ui/AGENTS.md
  packages/web/AGENTS.md
Due: format

chore: update AGENTS.md files (#30)
  AGENTS.md
  TODO.md
  packages/api/AGENTS.md
  packages/core/AGENTS.md
  packages/docs/AGENTS.md
  packages/marketing/AGENTS.md
  packages/ui/AGENTS.md
  packages/web/AGENTS.md
Due: format

fix: claude concurrency
  .github/workflows/ai-changeset.yml
  .github/workflows/claude-1-pr-description.yml
  .github/workflows/claude-2-code-review.yml
  .github/workflows/claude.yml
Due: none

fix: claude concurrency (#31)
  .github/workflows/ai-changeset.yml
  .github/workflows/claude-1-pr-description.yml
  .github/workflows/claude-2-code-review.yml
  .github/workflows/claude.yml
Due: none

feat: web deployment
  alchemy.run.ts
Due: lint, format

chore: changesets trigger
  .github/workflows/deploy.yml
Due: none

chore: changesets trigger (#33)
  .github/workflows/deploy.yml
Due: none

chore: update changesets gh action
  .github/workflows/release.yml
  packages/api/package.json
  packages/core/package.json
  packages/docs/package.json
  packages/marketing/package.json
  packages/scripts/package.json
  packages/ui/package.json
  packages/web/package.json
Due: format

chore: update changesets gh action (#34)
  .github/workflows/release.yml
  packages/api/package.json
  packages/core/package.json
  packages/docs/package.json
  packages/marketing/package.json
  packages/scripts/package.json
  packages/ui/package.json
  packages/web/package.json
Due: format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc,css,md}
