Repository jackwatters45/laxdb: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bun x oxlint {staged_files}

format:
  run: bun x oxfmt --no-error-on-unmatched-pattern {staged_files}

docs: add CLAUDE.md project instructions and update oxfmt config (#81)
  .oxfmtrc.json
  .worktreeinclude
  CLAUDE.md
Due: format

feat(web): add React Compiler for automatic optimizations
  bun.lock
  package.json
  packages/web/vite.config.ts
Due: lint, format

feat(web): add React Compiler for automatic optimizations (#82)
  bun.lock
  package.json
  packages/web/vite.config.ts
Due: lint, format

feat(api-001): create unified LaxdbApi definition
  .gitignore
  packages/api/src/definition.ts
  plans/prd.json
  plans/progress.txt
Due: lint, format

feat(api-005): extract ContactInfoGroup from contact-info.api.ts
  packages/api/src/definition.ts
  packages/api/src/index.ts
  packages/api/src/player/contact-info/contact-info.api.ts
  packages/api/src/player/contact-info/contact-info.handlers.ts
  plans/prd.json
Due: lint, format

feat(api-004): extract PlayersGroup from player.api.ts
  packages/api/src/definition.ts
  packages/api/src/index.ts
  packages/api/src/player/player.api.ts
  packages/api/src/player/player.handlers.ts
  plans/prd.json
Due: lint, format

feat(api-002): extract SeasonsGroup from season.api.ts
  packages/api/src/definition.ts
  packages/api/src/index.ts
  packages/api/src/season/season.api.ts
  packages/api/src/season/season.handlers.ts
  plans/prd.json
  plans/progress.txt
Due: lint, format

feat(api-003): extract GamesGroup from game.api.ts
  packages/api/src/definition.ts
  packages/api/src/game/game.api.ts
  packages/api/src/game/game.handlers.ts
  packages/api/src/index.ts
  plans/prd.json
  plans/progress.txt
Due: lint, format

feat(api-009): create groups layer index
  packages/api/src/groups/index.ts
  plans/prd.json
Due: lint, format

feat(api-007): extract OrganizationsGroup from organization.api.ts
  packages/api/src/definition.ts
  packages/api/src/index.ts
  packages/api/src/organization/organization.api.ts
  packages/api/src/organization/organization.handlers.ts
  plans/prd.json
Due: lint, format

feat(api-006): extract TeamsGroup from team.api.ts
  packages/api/src/definition.ts
  packages/api/src/index.ts
  packages/api/src/team/team.api.ts
  packages/api/src/team/team.handlers.ts
  plans/prd.json
Due: lint, format

feat(api-008): extract AuthGroup from auth.api.ts
  packages/api/src/auth/auth.api.ts
  packages/api/src/auth/auth.handlers.ts
  packages/api/src/definition.ts
  packages/api/src/index.ts
  plans/prd.json
Due: lint, format

docs: add effect-form library comparison and analysis
  packages/docs/content/docs/effect-form.mdx
Due: none

refactor(api): remove unused legacy API exports and Http*ClientAtom classes
  packages/api/src/auth/auth.api.ts
  packages/api/src/auth/auth.client.ts
  packages/api/src/game/game.api.ts
  packages/api/src/game/game.client.ts
  packages/api/src/organization/organization.api.ts
  packages/api/src/organization/organization.client.ts
  packages/api/src/player/contact-info/contact-info.api.ts
  packages/api/src/player/contact-info/contact-info.client.ts
  packages/api/src/player/player.api.ts
  packages/api/src/player/player.client.ts
  packages/api/src/season/season.api.ts
  packages/api/src/season/season.client.ts
  packages/api/src/team/team.api.ts
  packages/api/src/team/team.client.ts
  plans/prd.json
  plans/progress.txt
Due: lint, format

refactor(api): rename *GroupLive to *HandlersLive for clarity
  packages/api/src/auth/auth.handlers.ts
  packages/api/src/game/game.handlers.ts
  packages/api/src/groups/index.ts
  packages/api/src/organization/organization.handlers.ts
  packages/api/src/player/contact-info/contact-info.handlers.ts
  packages/api/src/player/player.handlers.ts
  packages/api/src/season/season.handlers.ts
  packages/api/src/team/team.handlers.ts
Due: lint, format

refactor(api): remove legacy *ApiLive aliases
  packages/api/src/auth/auth.handlers.ts
  packages/api/src/game/game.handlers.ts
  packages/api/src/index.ts
  packages/api/src/organization/organization.handlers.ts
  packages/api/src/player/contact-info/contact-info.handlers.ts
  packages/api/src/player/player.handlers.ts
  packages/api/src/season/season.handlers.ts
  packages/api/src/team/team.handlers.ts
Due: lint, format

refactor(api): migrate to HttpLayerRouter pattern
  packages/api/src/auth/auth.api.ts
  packages/api/src/auth/auth.handlers.ts
  packages/api/src/definition.ts
  packages/api/src/game/game.api.ts
  packages/api/src/game/game.handlers.ts
  packages/api/src/groups/index.ts
  packages/api/src/index.ts
  packages/api/src/organization/organization.api.ts
  packages/api/src/organization/organization.handlers.ts
  packages/api/src/player/contact-info/contact-info.api.ts
  packages/api/src/player/contact-info/contact-info.handlers.ts
  packages/api/src/player/player.api.ts
  packages/api/src/player/player.handlers.ts
  packages/api/src/rpc-group.ts
  packages/api/src/rpc-handlers.ts
  packages/api/src/season/season.api.ts
  packages/api/src/season/season.handlers.ts
  packages/api/src/team/team.api.ts
  packages/api/src/team/team.handlers.ts
Due: lint, format

feat(api): add OpenAPI/Scalar documentation endpoints
  packages/api/src/index.ts
Due: lint, format

feat(api): extract domain groups and remove unused code (#84)
  .gitignore
  packages/api/src/auth/auth.api.ts
  packages/api/src/auth/auth.client.ts
  packages/api/src/auth/auth.handlers.ts
  packages/api/src/definition.ts
  packages/api/src/game/game.api.ts
  packages/api/src/game/game.client.ts
  packages/api/src/game/game.handlers.ts
  packages/api/src/groups/index.ts
  packages/api/src/index.ts
  packages/api/src/organization/organization.api.ts
  packages/api/src/organization/organization.client.ts
  packages/api/src/organization/organization.handlers.ts
  packages/api/src/player/contact-info/contact-info.api.ts
  packages/api/src/player/contact-info/contact-info.client.ts
  packages/api/src/player/contact-info/contact-info.handlers.ts
  packages/api/src/player/player.api.ts
  packages/api/src/player/player.client.ts
  packages/api/src/player/player.handlers.ts
  packages/api/src/rpc-group.ts
  packages/api/src/rpc-handlers.ts
  packages/api/src/season/season.api.ts
  packages/api/src/season/season.client.ts
  packages/api/src/season/season.handlers.ts
  packages/api/src/team/team.api.ts
  packages/api/src/team/team.client.ts
  packages/api/src/team/team.handlers.ts
Due: lint, format

docs: rename docs/ to context/ and move effect-form docs
  context/FEATURE_SPEC_TEMPLATE.md
  context/NEXT_STEPS.md
  context/effect-form.md
  context/features/ATHLETIC_CLUB_AUTH_PLAN.md
  context/features/GAME_MANAGEMENT_PLAN.md
  context/features/OPPOSING_TEAMS_SCOUTING_PLAN.md
  context/features/PLAYBOOK_MANAGEMENT_PLAN.md
  context/features/PLAYER_DEVELOPMENT_PLAN.md
  context/features/PRACTICE_PLANNING_PLAN.md
Due: format

chore: remove effect form context
  .githooks/pre-commit
  .githooks/pre-push
  bun.lock
  context/effect-form.md
  lefthook.yml
  package.json
  packages/web/package.json
Due: format

chore: restructure docs and add lefthook (#85)
  .githooks/pre-commit
  .githooks/pre-push
  bun.lock
  context/FEATURE_SPEC_TEMPLATE.md
  context/NEXT_STEPS.md
  context/features/ATHLETIC_CLUB_AUTH_PLAN.md
  context/features/GAME_MANAGEMENT_PLAN.md
  context/features/OPPOSING_TEAMS_SCOUTING_PLAN.md
  context/features/PLAYBOOK_MANAGEMENT_PLAN.md
  context/features/PLAYER_DEVELOPMENT_PLAN.md
  context/features/PRACTICE_PLANNING_PLAN.md
  lefthook.yml
  package.json
  packages/web/package.json
Due: format

chore: rename AGENTS.md to CLAUDE.md
  AGENTS.md
  packages/api/CLAUDE.md
  packages/core/CLAUDE.md
  packages/core/src/auth/CLAUDE.md
  packages/core/src/drizzle/CLAUDE.md
  packages/docs/CLAUDE.md
  packages/effect-cloudflare/CLAUDE.md
  packages/marketing/CLAUDE.md
  packages/pipeline/CLAUDE.md
  packages/scripts/CLAUDE.md
  packages/ui/CLAUDE.md
  packages/web/CLAUDE.md
Due: format

feat(marketing): add knowledge graph visualization for blog posts
  packages/marketing/content-collections.ts
  packages/marketing/package.json
  packages/marketing/src/components/ui/knowledge-graph/graph-types.ts
  packages/marketing/src/components/ui/knowledge-graph/graph-utils.ts
  packages/marketing/src/components/ui/knowledge-graph/index.ts
  packages/marketing/src/components/ui/knowledge-graph/knowledge-graph.tsx
  packages/marketing/src/components/ui/knowledge-graph/use-graph-data.ts
  packages/marketing/src/content/hello-blog.mdx
  packages/marketing/src/routes/blog/index.tsx
Due: lint, format

fix(marketing): use React.lazy for force-graph and memoize graph data
  bun.lock
  packages/marketing/src/components/ui/knowledge-graph/knowledge-graph.tsx
Due: lint, format

fix(marketing): fix type errors in knowledge graph callbacks
  packages/docs/src/routeTree.gen.ts
  packages/marketing/src/components/ui/knowledge-graph/graph-types.ts
  packages/marketing/src/components/ui/knowledge-graph/graph-utils.ts
  packages/marketing/src/components/ui/knowledge-graph/index.ts
  packages/marketing/src/components/ui/knowledge-graph/knowledge-graph.tsx
  packages/marketing/src/components/ui/knowledge-graph/use-graph-data.ts
  packages/marketing/src/routeTree.gen.ts
  packages/marketing/src/routes/blog/index.tsx
  packages/web/src/routeTree.gen.ts
Due: lint, format

chore: init ralph
  .ralph/init.sh
  plans/prd.json
  plans/progress.txt
Due: format

chore: fmt routeTree.gen.ts files
  packages/docs/src/routeTree.gen.ts
  packages/marketing/src/routeTree.gen.ts
  packages/web/src/routeTree.gen.ts
Due: lint, format

chore: add activation headers to CLAUDE.md files and rename llms/ to references/
  .github/workflows/deploy.yml
  CLAUDE.md
  packages/api/CLAUDE.md
  packages/core/CLAUDE.md
  packages/core/src/auth/CLAUDE.md
  packages/core/src/drizzle/CLAUDE.md
  packages/docs/CLAUDE.md
  packages/effect-cloudflare/CLAUDE.md
  packages/marketing/CLAUDE.md
  packages/pipeline/CLAUDE.md
  packages/scripts/CLAUDE.md
  packages/ui/CLAUDE.md
  packages/web/CLAUDE.md
  references/ALCHEMY.md
  references/INTENT_LAYER.md
  references/README.md
  references/better-auth.txt
  references/component-guide.txt
  references/effect-ts/llms-full.txt
  references/effect-ts/llms-small.txt
  references/effect-ts/llms.txt
  references/infisical/cli.md
  references/jj/jj-ryu.md
  references/jj/jj.md
  references/jj/jjui.md
  references/tanstack-router.txt
Due: format

chore: add activation headers to CLAUDE.md files and rename llms/ to references/ (#88)
  .github/workflows/deploy.yml
  CLAUDE.md
  packages/api/CLAUDE.md
  packages/core/CLAUDE.md
  packages/core/src/auth/CLAUDE.md
  packages/core/src/drizzle/CLAUDE.md
  packages/docs/CLAUDE.md
  packages/effect-cloudflare/CLAUDE.md
  packages/marketing/CLAUDE.md
  packages/pipeline/CLAUDE.md
  packages/scripts/CLAUDE.md
  packages/ui/CLAUDE.md
  packages/web/CLAUDE.md
  references/ALCHEMY.md
  references/INTENT_LAYER.md
  references/README.md
  references/better-auth.txt
  references/component-guide.txt
  references/effect-ts/llms-full.txt
  references/effect-ts/llms-small.txt
  references/effect-ts/llms.txt
  references/infisical/cli.md
  references/jj/jj-ryu.md
  references/jj/jj.md
  references/jj/jjui.md
  references/tanstack-router.txt
Due: format

feat: add json-render demo app
  scratchpad/.gitignore
  scratchpad/json-render-demo/.gitignore
  scratchpad/json-render-demo/README.md
  scratchpad/json-render-demo/bun.lock
  scratchpad/json-render-demo/eslint.config.js
  scratchpad/json-render-demo/index.html
  scratchpad/json-render-demo/package.json
  scratchpad/json-render-demo/public/vite.svg
  scratchpad/json-render-demo/src/App.css
  scratchpad/json-render-demo/src/App.tsx
  scratchpad/json-render-demo/src/assets/react.svg
  scratchpad/json-render-demo/src/catalog.ts
  scratchpad/json-render-demo/src/components.tsx
  scratchpad/json-render-demo/src/index.css
  scratchpad/json-render-demo/src/main.tsx
  scratchpad/json-render-demo/tsconfig.app.json
  scratchpad/json-render-demo/tsconfig.json
  scratchpad/json-render-demo/tsconfig.node.json
  scratchpad/json-render-demo/vite.config.ts
Due: lint, format

fix: add VisibilityProvider to json-render demo
  scratchpad/json-render-demo/src/App.tsx
Due: lint, format

fix: ignore *.gen.ts in package-level oxfmtrc files
  packages/docs/.oxfmtrc.json
  packages/marketing/.oxfmtrc.json
  packages/web/.oxfmtrc.json
Due: format

feat: add json-render demo app (#89)
  packages/docs/.oxfmtrc.json
  packages/marketing/.oxfmtrc.json
  packages/web/.oxfmtrc.json
  scratchpad/.gitignore
  scratchpad/json-render-demo/.gitignore
  scratchpad/json-render-demo/README.md
  scratchpad/json-render-demo/bun.lock
  scratchpad/json-render-demo/eslint.config.js
  scratchpad/json-render-demo/index.html
  scratchpad/json-render-demo/package.json
  scratchpad/json-render-demo/public/vite.svg
  scratchpad/json-render-demo/src/App.css
  scratchpad/json-render-demo/src/App.tsx
  scratchpad/json-render-demo/src/assets/react.svg
  scratchpad/json-render-demo/src/catalog.ts
  scratchpad/json-render-demo/src/components.tsx
  scratchpad/json-render-demo/src/index.css
  scratchpad/json-render-demo/src/main.tsx
  scratchpad/json-render-demo/tsconfig.app.json
  scratchpad/json-render-demo/tsconfig.json
  scratchpad/json-render-demo/tsconfig.node.json
  scratchpad/json-render-demo/vite.config.ts
Due: lint, format

fix: use stage_fixed instead of git update-index --again
  lefthook.yml
Due: none

fix: use stage_fixed instead of git update-index --again (#91)
  lefthook.yml
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc,css,md}
