Repository jackwatters45/laxdb: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bun x oxlint {staged_files}

format:
  run: bun x oxfmt --no-error-on-unmatched-pattern {staged_files}

test
  TODO.md
Due: format

test (#35)
  TODO.md
Due: format

Add Dependabot configuration file
  .github/dependabot.yml
Due: none

chore: add dependabot configuration file
  .github/dependabot.yml
Due: none

fix: gh action
  .changeset/config.json
  .github/workflows/ai-changeset.yml
  .github/workflows/claude-2-code-review.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  TODO.md
  bun.lock
  llms/changesets.md
  package.json
Due: format

feat: change changesets to gh tags for releases (#37)
  .changeset/config.json
  .github/workflows/ai-changeset.yml
  .github/workflows/claude-2-code-review.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  TODO.md
  bun.lock
  llms/changesets.md
  package.json
Due: format

gh actions test
  TODO.md
  package.json
  packages/api/package.json
  packages/core/package.json
  packages/marketing/package.json
  packages/scripts/package.json
  packages/ui/package.json
Due: format

gh actions test (#38)
  TODO.md
  package.json
  packages/api/package.json
  packages/core/package.json
  packages/marketing/package.json
  packages/scripts/package.json
  packages/ui/package.json
Due: format

chore: combine claude review actions
  .github/workflows/claude-2-code-review.yml
  .github/workflows/claude-pr.yml
Due: none

chore: combine claude review actions (#39)
  .github/workflows/claude-2-code-review.yml
  .github/workflows/claude-pr.yml
Due: none

feat: web deployment
  alchemy.run.ts
Due: lint, format

feat: web deployment (#40)
  alchemy.run.ts
Due: lint, format

feat: migrate to tailwind v4
  TODO.md
  alchemy.run.ts
  bun.lock
  packages/marketing/package.json
  packages/marketing/postcss.config.mjs
  packages/marketing/vite.config.ts
  packages/ui/package.json
  packages/ui/postcss.config.mjs
  packages/ui/src/styles/globals.css
  packages/ui/tailwind.config.ts
  packages/web/.wrangler/deploy/config.json
  packages/web/package.json
  packages/web/postcss.config.mjs
  packages/web/src/routes/__root.tsx
  packages/web/vite.config.ts
  scratchpad/.gitignore
Due: lint, format

feat: migrate to tailwind v4 (#41)
  TODO.md
  alchemy.run.ts
  bun.lock
  packages/marketing/package.json
  packages/marketing/postcss.config.mjs
  packages/marketing/vite.config.ts
  packages/ui/package.json
  packages/ui/postcss.config.mjs
  packages/ui/src/styles/globals.css
  packages/ui/tailwind.config.ts
  packages/web/.wrangler/deploy/config.json
  packages/web/package.json
  packages/web/postcss.config.mjs
  packages/web/src/routes/__root.tsx
  packages/web/vite.config.ts
  scratchpad/.gitignore
Due: lint, format

fix: tw colors
  TODO.md
  packages/ui/src/styles/globals.css
Due: format

fix: tw colors (#42)
  TODO.md
  packages/ui/src/styles/globals.css
Due: format

fix: turbo build fix
  TODO.md
  packages/api/package.json
  packages/docs/vite.config.ts
  turbo.json
Due: lint, format

fix: turbo build fix (#43)
  TODO.md
  packages/api/package.json
  packages/docs/vite.config.ts
  turbo.json
Due: lint, format

Remove PlanetScale database instance from prerequisites
  README.md
Due: format

fix: github description action
  .github/workflows/claude-pr.yml
  TODO.md
Due: format

fix: github description action (#44)
  .github/workflows/claude-pr.yml
  TODO.md
Due: format

fix: prod pscale issues
  TODO.md
  alchemy.run.ts
Due: lint, format

fix: prod pscale issues (#45)
  TODO.md
  alchemy.run.ts
Due: lint, format

fixes
  .github/workflows/claude-pr.yml
  .github/workflows/deploy.yml
  TODO.md
Due: format

fixes (#46)
  .github/workflows/claude-pr.yml
  .github/workflows/deploy.yml
  TODO.md
Due: format

fixes
  .github/workflows/claude-pr.yml
  TODO.md
Due: format

fixes (#47)
  .github/workflows/claude-pr.yml
  TODO.md
Due: format

f
  .github/workflows/claude-pr.yml
  TODO.md
Due: format

test (#48)
  .github/workflows/claude-pr.yml
  TODO.md
Due: format

f
  TODO.md
Due: format

chore: update TODO.md task list (#49)
  TODO.md
Due: format

header types
  bun.lock
  packages/core/package.json
  packages/core/src/auth.ts
  packages/core/src/organization/organization.repo.ts
  packages/core/src/organization/organization.service.ts
  packages/core/src/team/team.repo.ts
  packages/core/src/team/team.service.ts
  packages/core/src/type.ts
  packages/web/src/components/organizations/join-form.tsx
Due: lint, format

fix(core): add type-safe Headers type to resolve linting issues (#60)
  bun.lock
  packages/core/package.json
  packages/core/src/auth.ts
  packages/core/src/organization/organization.repo.ts
  packages/core/src/organization/organization.service.ts
  packages/core/src/team/team.repo.ts
  packages/core/src/team/team.service.ts
  packages/core/src/type.ts
  packages/web/src/components/organizations/join-form.tsx
Due: lint, format

chore: oxlint config updates
  .oxlintrc.json
  TODO.md
Due: format

chore: oxlint config updates (#61)
  .oxlintrc.json
  TODO.md
Due: format

update REAME.md
  README.md
Due: format

docs: add missing packages to README.md structure (#62)
  README.md
Due: format

pipeline
  README.md
  bun.lock
  packages/pipeline/AGENTS.md
  packages/pipeline/README.md
  packages/pipeline/docs/ADDING_ENDPOINTS.md
  packages/pipeline/package.json
  packages/pipeline/src/api-client/api-client.error.ts
  packages/pipeline/src/api-client/api-client.schema.ts
  packages/pipeline/src/api-client/api-client.service.ts
  packages/pipeline/src/api-client/graphql.schema.ts
  packages/pipeline/src/api-client/graphql.service.ts
  packages/pipeline/src/api-client/index.ts
  packages/pipeline/src/config.ts
  packages/pipeline/src/error.ts
  packages/pipeline/src/example-pll.ts
  packages/pipeline/src/index.ts
  packages/pipeline/src/parser/parser.error.ts
  packages/pipeline/src/parser/parser.schema.ts
  packages/pipeline/src/parser/parser.service.ts
  packages/pipeline/src/pll/index.ts
  packages/pipeline/src/pll/pll.client.ts
  packages/pipeline/src/pll/pll.queries.ts
  packages/pipeline/src/pll/pll.schema.ts
  packages/pipeline/src/pll/pll.test.ts
  packages/pipeline/src/scraper/scraper.client.ts
  packages/pipeline/src/scraper/scraper.error.ts
  packages/pipeline/src/scraper/scraper.schema.ts
  packages/pipeline/src/scraper/scraper.service.ts
  packages/pipeline/tsconfig.json
  packages/pipeline/vitest.config.ts
Due: lint, format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc,css,md}
